<!-- U S E R -->
<mat-drawer-container autosize *ngIf="auth.userProfile$ | async as profile">
  <mat-drawer #drawer mode="side" disableClose="true" opened="push" >

    <!-- N A V I -->
    <mat-nav-list>
      <mat-list-item>
        <mat-icon mat-list-icon (click)="isExpanded = !isExpanded" color="warn">menu</mat-icon>
      </mat-list-item>

      <!-- Upload -->
      <mat-list-item routerLink="/upload">
        <mat-icon mat-list-icon>cloud_upload</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Upload</h4>
      </mat-list-item>

      <!-- Files -->
      <mat-list-item routerLink="/files">
        <mat-icon mat-list-icon>list</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Files</h4>
      </mat-list-item>

      <!-- Profile -->
      <mat-list-item routerLink="/profile">
        <mat-icon mat-list-icon>person</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Profile</h4>
      </mat-list-item>

      <!-- Messages -->
      <mat-list-item routerLink="/messages">
        <mat-icon mat-list-icon>message</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Messeges</h4>
      </mat-list-item>

      <!-- Settings -->
      <mat-list-item routerLink="/settings">
        <mat-icon mat-list-icon>settings</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Settings</h4>
      </mat-list-item>

      <!-- Portfolio -->
      <mat-list-item routerLink="/admin">
        <mat-icon mat-list-icon color="accent">handyman</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Portfolio</h4>
      </mat-list-item>

    </mat-nav-list>
  </mat-drawer>
  <!-- M A I N - C O N T E N T -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

<!-- A N O N Y M O U S -->
<div *ngIf="auth.loggedIn === false">
  <app-home></app-home>
</div>
