<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/">
    <img height="40"
      src="https://www.bmo.com/img/main/personal/bank-accounts/pages/banking-services/large/app-icon-bmo.png" />
  </button>
  <span class="example-spacer"></span>
  <span *ngIf="auth.loggedIn === false">
    <button mat-button (click)="auth.login()">Login</button>
  </span>
  <span *ngIf="auth.userProfile$ | async as profile">
    <img [src]="profile.picture" alt="Profile picture" class="nav-user-profile rounded-circle"
                style="width: 35px" routerLink="/profile" />
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>{{ profile.name }}</span>
      </button>
      <button mat-menu-item (click)="auth.logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </span>
</mat-toolbar>
