<mat-tab-group animationDuration="0ms">
  <mat-tab *ngFor="let book of local_data.workbook | keyvalue" label="{{book.key}}">
    <table matSort>
      <tr>
        <th *ngFor="let column of book.value[0] | keyvalue" mat-sort-header="{{column.key}}">{{column.key}}</th>
      </tr>
      <tr *ngFor="let rows of book.value">
        <td *ngFor="let row of rows | keyvalue">{{row.value}}</td>
      </tr>
    </table>
  </mat-tab>
</mat-tab-group>
