.mat-card {
  margin:10px;
  min-height: 500px;
}

table {
  margin-top: 20px;
  width: 100%;
}

.file-picker{
  font-weight: bold;
  margin-right: 5px;
  cursor: pointer;
}

.mat-card-actions {
  margin: 1px;
}
