<mat-card>

  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
    (onFileLeave)="fileLeave($event)" accept=".xlsx,.xls">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      <span (click)="openFileSelector()" class="file-picker">Choose file(s)</span> or drag it here
    </ng-template>
  </ngx-file-drop>

  <table mat-table [dataSource]="bfiles" class="mat-elevation-z8" *ngIf="bfiles.length > 0">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> File(s) </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef> Size </th>
      <td mat-cell *matCellDef="let element"> {{element.size | filesize}} </td>
    </ng-container>
    <ng-container matColumnDef="lastModifiedDate">
      <th mat-header-cell *matHeaderCellDef> Last Modified Date </th>
      <td mat-cell *matCellDef="let element"> {{element.lastModifiedDate}} </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> View File </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="View Details" (click)="openDialog(element)">
          <mat-icon>preview</mat-icon>
        </button></td>
    </ng-container>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-card-actions align="end">
    <button mat-raised-button (click)="uploadFilesToDB()" [disabled]="selection.selected.length == 0">Upload</button>
  </mat-card-actions>

</mat-card>
