<div *ngIf="auth.userProfile$ | async as profile">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img [src]="profile.picture" alt="Profile picture" class="nav-user-profile rounded-circle"
          style="width: 45px" />
      </div>
      <mat-card-title>{{profile.name}}</mat-card-title>
      <mat-card-subtitle>{{profile.email}} <mat-icon aria-hidden="false" *ngIf="profile.email_verified" [inline]="true"
          aria-label="Example home icon">verified</mat-icon>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <code>{{ profile | json }}</code>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

</div>
