<mat-card *ngFor="let file of files | keyvalue">

  <mat-card-header>
    <mat-card-title>
      {{file.key}}
    </mat-card-title>
  </mat-card-header>
  <mat-accordion>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
      *ngFor="let version of file.value; index as i">
      <mat-expansion-panel-header>
        <mat-panel-title class="mat-caption">
          {{version.timestamp | date:'full'}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-tab-group animationDuration="0ms">
        <mat-tab *ngFor="let book of version.workbook | keyvalue" label="{{book.key}}">

          <table matSort (matSortChange)="sortData($event,{file:file.key,index:i,book:book.key,values:book.value})">
            <tr>
              <th *ngFor="let column of book.value[0] | keyvalue" mat-sort-header="{{column.key}}">{{column.key}}</th>
            </tr>

            <tr *ngFor="let rows of book.value">
              <td *ngFor="let row of rows | keyvalue">{{row.value}}</td>
            </tr>
          </table>

        </mat-tab>
      </mat-tab-group>

    </mat-expansion-panel>

  </mat-accordion>

</mat-card>
