/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background-color: #ECECEC; }
html, body { height: 100%; overflow-y: auto;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
